## Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
*.~u

## TwinCAT - generirane i binarne datoteke (NE commitati!)
_Boot/
_CompileInfo/
_CompileInfo_Upload/
*.bak
*.tpzip
*.tszip
*.app
*.cid
*.crc
*.occ
*.ocm
*.tizip
*.compileinfo
*.dbg
*.tmc
LineIDs.dbg
GlobalTextList.TcGTLO